.App {
  text-align: center;
  background-color: rgb(0, 221, 255);
  height: 713px;
}
.head{
  background-color: black;
  display: flex;
  gap: 200px;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  box-sizing: border-box;


}
.home{
  color: rgb(11, 223, 50);
  text-decoration: none;
  font-size: 35px;

}
.student{
  color: rgb(11, 223, 50);
  text-decoration: none;
  font-size: 35px;

}
.contact{
  color: rgb(11, 223, 50);
  text-decoration: none;
  font-size: 35px;

}
.hl{
  font-family: Arial, Helvetica, sans-serif;
  color: chartreuse;
}
table{
  width: 1200px;
  height: 550px;
  color: blue;
}
.st{
  align-items: center;
}
@media  (min-width:374px) and (max-width:1000px){
  .head{
      justify-content: center;
      width: 100%;
      gap: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .App{
    width: 370px;
  }
  table{
    width: 370px;
  }
  .home{
    font-size:x-large;

  }
  .student{
    font-size:x-large;

  }
  .contact{
    font-size: x-large;

  }
}
hr{
  color: black;
}
